{% extends 'ricod/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container">

        <section role="content">

            {% for category in context.categories %}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <h3>{{ category.name }}</h3>
                        </div>
                    </div>

                    {% for good in category.goods_set.all %}
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                {% if good.img %}
                                    <img src="{{ good.img.url }}" class="good-pic img-thumbnail" alt="" width="200px" height="120px">
                                {% else %}
                                    <span style="display: inline-block; width: 220px; height: 120px; float: left;"></span>
                                {% endif %}

                                <h4><a href="#">{{ good.name }}</a></h4>
                                <p>
                                    {% autoescape off %}
                                        {{ good.text }}
                                    {% endautoescape %}
                                </p>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
                <!-- категория -->
            {% endfor %}

        </section>
        <!-- section content -->
    </div>

{% endblock %}