{% extends 'ricod/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container">

        <section role="content">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h3>Освещение</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <span style="display: inline-block; width: 220px; height: 120px; float: left;"></span>
                        <h4><a href="#">Фонарь на 8 светодиодов</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel doloribus consequuntur harum, repellendus rerum alias ex voluptate, voluptates magni, optio placeat sint a nulla eum odit quas deserunt nesciunt consectetur.</p>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <img src="{% static 'images/catalog/torch.jpg' %}" class="good-pic img-thumbnail" alt="" width="200px" height="120px">
                        <h4><a href="#">Фонарь кластерный (короткий)</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel doloribus consequuntur harum, repellendus rerum alias ex voluptate, voluptates magni, optio placeat sint a nulla eum odit quas deserunt nesciunt consectetur.</p>
                    </div>
                </div>
                <br>

            </div>
            <!-- категория -->


            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h3>Видеокамеры</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <img src="{% static 'images/catalog/videocamera.jpg' %}" class="good-pic img-thumbnail" alt="" width="200px" height="120px">
                        <h4><a href="#">Видеокамера подводная</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel doloribus consequuntur harum, repellendus rerum alias ex voluptate, voluptates magni, optio placeat sint a nulla eum odit quas deserunt nesciunt consectetur.</p>
                    </div>
                </div>
                <br>

            </div>
            <!-- категория -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h3>Станции связи</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <span style="display: inline-block; width: 220px; height: 120px; float: left;"></span>
                        <h4><a href="#">Станция связи с гелевым корректором</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel doloribus consequuntur harum, repellendus rerum alias ex voluptate, voluptates magni, optio placeat sint a nulla eum odit quas deserunt nesciunt consectetur.</p>
                    </div>
                </div>
                <br>

            </div>
            <!-- категория -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h3>Блоки питания</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <img src="{% static 'images/catalog/BPVS-4-300P.jpg' %}" class="good-pic img-thumbnail" alt="" width="200px" height="120px">
                        <h4><a href="#">Блок питания БПВС-4-300р</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel doloribus consequuntur harum, repellendus rerum alias ex voluptate, voluptates magni, optio placeat sint a nulla eum odit quas deserunt nesciunt consectetur.</p>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <img src="{% static 'images/catalog/BPVS-12M.jpg' %}" class="good-pic img-thumbnail" alt="" width="200px" height="120px">
                        <h4><a href="#">БПВС-12м</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel doloribus consequuntur harum, repellendus rerum alias ex voluptate, voluptates magni, optio placeat sint a nulla eum odit quas deserunt nesciunt consectetur.</p>
                    </div>
                </div>
                <br>

            </div>
            <!-- категория -->

        </section>
        <!-- section content -->
    </div>

{% endblock %}