{% extends 'ricod/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Page Content -->

<!-- Header -->

<div class="intro-header" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url({% static 'images/intro-bg.jpg' %})">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="intro-message">

                    <h1><span class="vmode_editable_text"><span>Рикод</span></span></h1>

                    <h3><span class="vmode_editable_text"><span>Продажа водолазного оборудования</span></span></h3>

                    <h3><span style="color: #d32e2e; font-size: 25px; font-style: italic; font-family: Tahoma; " class="vmode_editable_text"><span>+7 (952) 386-10-01</span></span></h3>

                    <hr class="intro-divider">
{% comment %}
                    <ul class="list-inline intro-social-buttons">

                        <li>
                            <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>

                        <li>
                            <a href="https://vk.com" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">ВКонтакте</span></a>
                        </li>

                        <li>
                            <a href="https://ok.ru" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Одноклассники</span></a>
                        </li>

                    </ul>
{% endcomment %}

                </div>

            </div>

        </div>

    </div>

    <!-- /.container -->

</div>

<!-- /.intro-header -->



<div class="content-section-a" id="section1">

    <div class="container">

        <div class="row">

            <div class="col-lg-5 col-sm-6">

                <hr class="section-heading-spacer">

                <div class="clearfix"></div>

                <h2 class="section-heading"><span class="vmode_editable_text"><span>Отличное обслуживание!</span></span></h2>

                <p class="lead"><span class="vmode_editable_text"><span>Наша компания предоставляет лучший сервис в городе. Просто позвоните — это просто! Мы предлагаем специальные условия для постоянных клиентов!</span></span></p>

            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6">

                <img class="img-responsive" src="{% static 'images/promo1.png' %}" alt="">

            </div>

        </div>

    </div>

    <!-- /.container -->

</div>

<!-- /.content-section-a -->


<div class="content-section-b" id="section2">

    <div class="container">

        <div class="row">

            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                <hr class="section-heading-spacer">

                <div class="clearfix"></div>

                <h2 class="section-heading"><span class="vmode_editable_text"><span>Бесплатная консультация</span></span></h2>

                <p class="lead"><span class="vmode_editable_text"><span>Вы останетесь довольными качеством нашего обслуживания. Наш менеджер примет заявку прямо сейчас и оформит счет на необходимый пакет услуг!</span></span></p>
            </div>

            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="{% static 'images/promo2.png' %}" alt="">
            </div>

        </div>

    </div>

    <!-- /.container -->
</div>

<!-- /.content-section-b -->


<div class="content-section-a" id="section3">

    <div class="container">

        <div class="row">

            <div class="col-lg-5 col-sm-6">

                <hr class="section-heading-spacer">

                <div class="clearfix"></div>

                <h2 class="section-heading"><span class="vmode_editable_text"><span>Звоните прямо сейчас!</span></span></h2>

                <p class="lead"><span class="vmode_editable_text"><span>Только в этом месяце мы предоставляем скидку для клиентов с нашего сайта. Для того, чтобы узнать подробности, звоните нам прямо сейчас!</span></span></p>

            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static 'images/promo3.png' %}" alt="">
            </div>

        </div>
    </div>

    <!-- /.container -->

</div>

<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">
        <h2>Легкое создание сайтов и интернет-магазинов</h2><p>
        Это демонстрационный сайт, созданный на основе одного из встроенных шаблонов CMS. Создайте себе такой же! Создав сайт прямо сейчас с этим дизайном, вы не ограничивайте себя в его дальнейшей модернизации. Если вы начинающий вебмастер, то вам поможет ряд встроенных и простых в использовании инструментов для изменения существующих настроек, внешнего вида и даже функционала сайта под ваши индивидуальные нужды. Если вы продвинутый пользователь, то свободы в управлении проектом еще больше, ведь html-шаблоны всех элементов оформления открыты и можно изменить любую часть кода, создав полностью уникальный дизайн. <br/><br/> Вы в любой момент сможете расположить информацию по-своему вплоть до полного редизайна и переработки проекта. Тем не менее, мы специально встроили набор готовых шаблонов, чтобы начинать не с чистого листа. Создайте свой проект прямо сейчас! Ведь теперь это действительно очень просто.<br/><br/>Удачной Вам работы с системой!</p>
    </div>

</div>



<a name="feedback_form"></a>

<div class="content-section-a">

    <div class="container">

        <h2>Свяжитесь с нами</h2>

        <form method="post" action="#feedback_form" enctype="multipart/form-data">

            <div class="form-group">
                <label>
                    Имя<span class="text-danger">*</span>
                </label>
                <div class="biggo-control">
                    <input id="id_field_47836" name="field_47836" type="text" />
                </div>

            </div>

            <div class="form-group">
                <label>
                    Электронная почта<span class="text-danger">*</span>
                </label>
                <div class="biggo-control">
                    <input id="id_field_47837" name="field_47837" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label>
                    Сообщение<span class="text-danger">*</span>
                </label>
                <div class="biggo-control">
                    <textarea cols="40" id="id_field_47838" name="field_47838" rows="10"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label>
                    Сайт (если есть)
                </label>
                <div class="biggo-control">
                    <input id="id_field_47839" name="field_47839" type="text" />
                </div>
            </div>

{% comment %}
            <div class="form-group">
                <label>Код</label>
                <div>
                    <input id="id_captcha_0" name="captcha_0" type="hidden" value="be39dce8ce5142c6932ae94dd9912214" />
                    <img src="/captcha/be39dce8ce5142c6932ae94dd9912214/?0.204679261567" alt="secret code" width="100" height="45" />
                </div>
                <div class="biggo-control">
                    <input id="id_captcha_1" name="captcha_1" type="text" />
                </div>
            </div>
{% endcomment %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Отправить сообщение</button>
            </div>

        </form>

    </div>

</div>
{% comment %}
<div class="banner">

    <div class="container">

        <div class="row">

            <div class="col-lg-6">
                <h2>Подписывайтесь в соцсетях:</h2>
            </div>

            <div class="col-lg-6">

                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://vk.com" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">ВКонтакте</span></a>
                    </li>
                    <li>
                        <a href="https://ok.ru" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Одноклассники</span></a>
                    </li>

                </ul>

            </div>

        </div>

    </div>

    <!-- /.container -->

</div>
{% endcomment %}

<!-- /.banner -->

<!--block_start-->

<!--block_stop-->

{% endblock %}